<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>京东签到助手</title>
</head>
<body>
<div>
    <h4>使用说明</h4>
    <ul>本网站可以在每天0点帮已登陆的用户签到，平均得京豆30-40个</ul>
    <ul>由于京东自身的限制，扫码登陆后帐号信息最多保存1天，所以为了能保证自己签到成功，尽量每天睡前登陆一次</ul>
    <h4>如何登陆</h4>
    <ul>1.点击上面的“获取二维码”按钮</ul>
    <ul>2.将二维码页面截图</ul>
    <ul>3.打开京东app，扫描刚才的二维码，允许登陆</ul>
    <ul>4.返回刚才的页面，看到二维码下面的状态信息变成“登录成功”，则为OK</ul>
    <ul style="color: red">登陆成功之前一定不可以关掉页面，否则会登陆失败</ul>
    <ul style="color: blue">随时可以点击下面的查询状态按钮查看自己的帐号是否失效</ul>
</div>
<div>
    <button onclick="get_user_state()">查询状态</button>
    <table id="state" border="1">

    </table>
</div>
<textarea id="cookies"></textarea>
<button onclick="upload()">上传</button>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>


<script>
    var lunxun;

    function upload() {
        let cookie_json;
        try {
            cookie_json = JSON.parse(document.getElementById('cookies').value);
        }catch (e) {
            alert('请输入正确的json格式cookie!');
            return;
        }
        let s = '';
        for(let i of cookie_json){s += i.name+"="+i.value + ";"}
        let cookie = s.substr(0,s.length-1);
        axios.post('./cookie',{
            cookie:cookie
        }).then(function (response) {
            alert(response.data.msg);
        }).catch(function (error) {
            alert(error.response.data.msg);
	});
    }
/**
    function get_user_state() {
        let table = document.getElementById('state');
        table.innerHTML = '<tr>\n' +
            '            <th>昵称</th>\n' +
            '            <th>登陆时间</th>\n' +
            '            <th>当前状态</th>\n' +
            '        </tr>';
        axios.get('/api/state')
            .then(function (response) {
                let rsp = response.data;
                for(let user of rsp.data){
                    let tr = document.createElement('tr');
                    let nick = document.createElement('td');
                    let state = document.createElement('td');
                    let time = document.createElement('td');
                    nick.innerText = user.nick;
                    state.innerText = user.login;
                    if(user.login){
                        state.style = 'color:green'
                    }else{
                        state.style = 'color:red'
                    }
                    time.innerText = user.time;
                    tr.appendChild(nick);
                    tr.appendChild(time);
                    tr.appendChild(state);
                    table.appendChild(tr);
                }

            })
        }
    }
    **/
</script>
</html>
